/******
Design: Paula Grangeiro <contato@paulagrangeiro.com.br>
******/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Titillium+Web:400,700');

/*** HOME ***/
body {
  background: url('/static/img/background.png') center center fixed;
  background-size: cover;
  font-family: 'Roboto', Verdana, Arial;
  color: #FFFFFF;
}

html, body, .container-table, .white-bg {
  height: 100%;
}

h1, h2, h3, h4, h5 {
 font-family: 'Titillium Web', Verdana, Arial;
}

.container-table {
  display: table;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

a {
  color: #FFFFFF;
  font-size: 32px;
  margin: 10px;
  text-decoration: none;
}

.white-bg {
  background-color: #FFFFFF;
  color: #000000;
}
/*** FIM HOME ***/
