{% extends "layout.html" %}

{% block css %}
{{ super() }}
<link href="{{ '/static/css/font-awesome.min.css'|url }}" rel="stylesheet" />
<link href="{{ '/static/css/main.css'|url }}" rel="stylesheet" />
{% endblock %}

{% block body_classes %}blocked{% endblock %}

{% block body %}
<div class="container marketing">

  <div class="row featurette">
    <div class="col-lg-5 col-md-5">
      <img class="img-thumbnail" data-src="holder.js/500x500" alt="Paula Grangeiro" src="{{ '/static/img/perfil.jpg'|url }}">
    </div>
    <div class="col-lg-7 col-md-7">
      <h2 class="featurette-heading">Hey! <span class="text-muted">It's me, Paula!</span></h2>
      <p class="lead">Bacharel em Sistemas de Informação pela Fundação Educacional de Duque de Caxias. Desenvolvedora de software desde 2007, entusiasta Python a partir de 2012. Apaixonada por Arquitetura de Software e ativista de diversidade nas horas vagas.</p>
      <h4>
        <a class="label label-primary" href="https://github.com/pgrangeiro" target="_blank">GitHub</a>
        <a class="label label-primary" href="https://br.linkedin.com/in/paulagrangeiro" target="_blank">LinkedIn</a>
        <a class="label label-primary" href="https://fb.me/page.paulagrangeiro/" target="_blank">Facebook</a>
        <a class="label label-primary" href="https://twitter.com/paulagrangeiro" target="_blank">Twitter</a>
        <a class="label label-primary" href="mailto:paulagrangeiro.com.br" target="_blank">Email</a>
        <a class="label label-primary" href="https://blog.paulagrangeiro.com.br/" target="_blank">Blog</a>
      </h4>
      <p>
        <a class="label label-default" href="#" role="button">python</a>
        <a class="label label-default" href="#" role="button">django</a>
        <a class="label label-default" href="#" role="button">javascript</a>
        <a class="label label-default" href="#" role="button">angularjs</a>
        <a class="label label-default" href="#" role="button">c#</a>
        <a class="label label-default" href="#" role="button">vb.net</a>
        <a class="label label-default" href="#" role="button">css</a>
        <a class="label label-default" href="#" role="button">html</a>
        <a class="label label-default" href="#" role="button">tdd</a>
        <a class="label label-default" href="#" role="button">mysql</a>
        <a class="label label-default" href="#" role="button">postgresql</a>
        <a class="label label-default" href="#" role="button">oracle</a>
        <a class="label label-default" href="#" role="button">sql server</a>
        <a class="label label-default" href="#" role="button">git</a>
        <a class="label label-default" href="#" role="button">mercurial</a>
        <a class="label label-default" href="#" role="button">djangogirls</a>
        <a class="label label-default" href="#" role="button">pyladies</a>
        <a class="label label-default" href="#" role="button">tutoras</a>
        <a class="label label-default" href="#" role="button">railsgirls</a>
        <a class="label label-default" href="#" role="button">insideout</a>
        <a class="label label-default" href="#" role="button">apyb</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
