{% extends "layout.html" %}

{% block css %}
{{ super() }}
<link href="{{ '/static/css/font-awesome.min.css'|url }}" rel="stylesheet" />
<link href="{{ '/static/css/main.css'|url }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container marketing">

  <div class="row featurette">
    <div class="col-lg-5 col-md-5">
      <img class="img-thumbnail" data-src="holder.js/500x500" alt="Paula Grangeiro" src="{{ '/static/img/perfil.jpg'|url }}">
    </div>
    <div class="col-lg-7 col-md-7">
      <h2 class="featurette-heading">Hey! <span class="text-muted">It's me, Paula!</span></h2>
      <p class="lead">Bacharel em Sistemas de Informação pela Fundação Educacional de Duque de Caxias. Desenvolvedora de software desde 2007, entusiasta Python a partir de 2012. Apaixonada por Arquitetura de Software e ativista de diversidade nas horas vagas.</p>
      <p class="lead">Treinamentos? Desenvolvimento de sistemas? Envie-me um email para <a href="mailto:contato@paulagrangeiro.com.br">contato@paulagrangeiro.com.br</a> :)</p>
      <p class="tag">
        <a class="label label-info" href="#" role="button">python</a>
        <a class="label label-info" href="#" role="button">django</a>
        <a class="label label-info" href="#" role="button">javascript</a>
        <a class="label label-info" href="#" role="button">angularjs</a>
        <a class="label label-info" href="#" role="button">c#</a>
        <a class="label label-info" href="#" role="button">vb.net</a>
        <a class="label label-info" href="#" role="button">css</a>
        <a class="label label-info" href="#" role="button">html</a>
        <a class="label label-info" href="#" role="button">tdd</a>
        <a class="label label-info" href="#" role="button">mysql</a>
        <a class="label label-info" href="#" role="button">postgresql</a>
        <a class="label label-info" href="#" role="button">oracle</a>
        <a class="label label-info" href="#" role="button">sql server</a>
        <a class="label label-info" href="#" role="button">git</a>
        <a class="label label-info" href="#" role="button">mercurial</a>
        <a class="label label-info" href="#" role="button">djangogirls</a>
        <a class="label label-info" href="#" role="button">pyladies</a>
        <a class="label label-info" href="#" role="button">tutoras</a>
        <a class="label label-info" href="#" role="button">railsgirls</a>
        <a class="label label-info" href="#" role="button">apyb</a>
      </p>
    </div>
  </div>

  <div class="row about">

    <div class="col-lg-4 col-md-4 col-sm-4">
      <i class="fa fa-code-fork" aria-hidden="true"></i>
      <p>Código de qualidade para sistemas Python, C# e VB.Net. Utilização de metodologias ágeis e padrões de projeto para garantir a manutenção e reuso de software.</p>
      <p><a class="btn btn-default" href="https://github.com/pgrangeiro" role="button">GitHub »</a></p>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <i class="fa fa-users" aria-hidden="true"></i>
      <p>Treinamentos presenciais no Rio de Janeiro e via hangouts em todo o Brasil. Experiência no ensino de Python e Django à pessoas completamente iniciantes em programação.</p>
      <p><a class="btn btn-default" href="https://br.linkedin.com/in/paulagrangeiro" role="button">LinkedIn »</a></p>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <i class="fa fa-newspaper-o" aria-hidden="true"></i>
      <p>Artigos técnicos e experiências profissionais sobre desenvolvimento de software, cobertura de eventos, comunidade e diversidade escritos em linguagem de humanos no meu blog.</p>
      <p><a class="btn btn-default" href="https://blog.paulagrangeiro.com.br/" role="button">Blog »</a></p>
    </div>
  </div>

  <hr class="featurette-divider" />

</div>
{% endblock %}
