<!doctype html>
<html lang="pt">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block head %}
<meta name="description" content="Paula Grangeiro">
<meta name="author" content="Ajudando a transformar a web com algumas linhas de código e um pouco de café. ">
<title>{{ this.title }}</title>
{% endblock %}
<link rel="icon" href="../../favicon.ico">
{% block css %}
<link href="{{ '/static/bootstrap/css/bootstrap.min.css'|url }}" rel="stylesheet">
<link href="{{ '/static/carousel.css'|url }}" rel="stylesheet">
<link href="{{ '/static/style.css'|url }}" rel="stylesheet">
{% endblock %}

<body>

  {% include 'includes/navbar.html' %}

  {% block body %}{% endblock %}

  {% block script %}
  <script src="{{ '/static/jquery.min.js'|url }}"></script>
  <script src="{{ '/static/bootstrap/js/bootstrap.min.js'|url }}"></script>
  <script src="{{ '/static/holder.min.js'|url }}"></script>
  {% endblock %}
</body>
</html>
