<!doctype html>
<html lang="pt">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{ '/static/img/favicon.png'|url }}">

{% block head %}
<meta name="description" content="Paula Grangeiro">
<meta name="author" content="Ajudando a transformar a web com algumas linhas de código e um pouco de café. ">
<title>{{ this.title }}</title>
{% endblock %}
{% block css %}
<link href="{{ '/static/css/bootstrap.min.css'|url }}" rel="stylesheet">
<link href="{{ '/static/css/carousel.css'|url }}" rel="stylesheet">
{% endblock %}

<body>

  {% include 'includes/navbar.html' %}

  {% block body %}{% endblock %}

  {% block footer %}
    <div class="container">
      <p>&copy; 2016 <a href="http://www.paulagrangeiro.com.br">Paula Grangeiro</a></p>
    </div>
  {% endblock %}

  {% block script %}
  <script src="{{ '/static/js/jquery.min.js'|url }}"></script>
  <script src="{{ '/static/js/bootstrap.min.js'|url }}"></script>
  <script src="{{ '/static/js/holder.min.js'|url }}"></script>
  {% endblock %}

</body>
</html>
