{% extends "layout.html" %}

{% block css %}
{{ super() }}
<link href="{{ '/static/font-awesome/css/font-awesome.min.css'|url }}" rel="stylesheet" />
<link href="{{ '/static/main.css'|url }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container marketing collection">
  <div class="row">
    {% for project in this.projects.blocks %}
    <div class="col-xs-2 col-lg-4">

      <img class="img-thumbnail" data-src="holder.js/360x250" src="{{ project.photo|url }}" />

      <h4>{{ project.title }}</h4>

      <p>{{ project.description }}</p>

      <p class="pull-right btns">
        {% if project.url|trim %}
        <a href="{{ project.url }}" target="_blank"><i class="fa fa-link" aria-hidden="true" title="Site"></i></a>
        {% endif %}
        {% if project.code|trim %}
        <a href="{{ project.code }}" target="_blank"><i class="fa fa-github-square" aria-hidden="true" title="Código"></i></a>
        {% endif %}
      </p>
      {% set tags = project.tags.split(',') %}
      <p class="tag">
        {% for tag in tags %}
        <a class="label label-info" href="#" role="button">{{ tag }}</a>
        {% endfor %}
      </p>
    </div>
    {% endfor %}
  </div>

  <hr class="featurette-divider" />
</div>
{% endblock %}
