{% extends "layout.html" %}

{% block css %}
{{ super() }}
<link href="{{ '/static/css/font-awesome.min.css'|url }}" rel="stylesheet" />
<link href="{{ '/static/css/main.css'|url }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container marketing collection">
  <div class="row">

    {% for talk in this.talks.blocks|sort(attribute='date', reverse=True) %}
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

      {% set path = ['/media/talks/', talk.photo] %}
      <img class="img-thumbnail" data-src="holder.js/360x250" src="{{ path|join|url }}" />

      <h4>{{ talk.title }}</h4>

      <p class="text-muted">
        <span>{{ talk.date.strftime('%d/%m/%Y') }} | {{ talk.event }}</span>
      </p>

      <p>{{ talk.description }}</p>

      <p class="pull-right btns">
        {% if talk.file|trim %}
        {% set path = ['/media/talks/', talk.file] %}
        <a href="{{ path|join|url }}" target="_blank"><i class="fa fa-download" aria-hidden="true" title="Download slides"></i></a>
        {% endif %}
        {% if talk.video|trim %}
        <a href="{{ talk.video }}" target="_blank"><i class="fa fa-video-camera" aria-hidden="true" title="Assistir vídeo"></i></a>
        {% endif %}
      </p>
      {% set tags = talk.tags.split(',') %}
      <p class="tag">
        {% for tag in tags %}
        <a class="label label-info" href="#" role="button">{{ tag }}</a>
        {% endfor %}
      </p>
    </div>
    {% if loop.index % 3 == 0 %}
    </div><div class="row">
    {% endif %}
    {% endfor %}
  </div>

  <hr class="featurette-divider" />
</div>
{% endblock %}
